
@{
    Layout = null;
}
@model List<Lime_Editor.Models.Template>
<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шаблоны</title>
    <link href="~/css/main/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/main/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/main/prettyPhoto.css" rel="stylesheet" />
    <link href="~/css/main/animate.css" rel="stylesheet" />
    <link href="~/css/main/mainMeow.css" rel="stylesheet" />
    <link href="~/css/main/responsive.css" rel="stylesheet" />
    <link href="~/css/main/Themes.css" rel="stylesheet" />

</head><!--/head-->

<body>
    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>



    <header class="header" id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-size: 40px;" href="#">LIME</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home/MySites">
                                Главная
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Templates">Шаблоны</a>
                        </li>

                    </ul>

                    <li class="nav-item dropdown" style="margin-bottom:20px;">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">@User.Identity.Name</a>
                        <div class="dropdown-menu " data-popper-placement="bottom-start">
                            <a class="dropdown-item" href="@Url.Action("Profile")">Личный кабинет</a>
                            <a class="dropdown-item" href="@Url.Action("Logout")">Выход</a>
                        </div>
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <hr class="solid" style="margin-top:0px;" />
    <section>
        <div class="container">
            <div class="row">
                <div class="col-cd-7 padding-right">

                    <div class="project-cards row mb-5">
                        <!--features_items-->
                        <h2 class="title text-center">Все шаблоны</h2>
                        @foreach (var template in Model)
                        {
                            <style>
                                .single-products:hover .product-overlay {
                                    display: block;
                                    height: 100% !important;
                                }
                            </style>
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="@template.FolderPreview" />
                                            <p style="font-size: 25px;">@template.Name</p>

                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <div class="row align-self-center ">
                                                    <div class="col-12 cd-4">
                                                        <a href="@Url.Action($"Template_{template.IdTemplate}","Template")" class="btn btn-primary "><i class=""></i>Добавить шаблон</a>
                                                    </div>
                                                    <div class="col-12 cd-4">
                                                        <a href="@Url.Action($"Template_{template.IdTemplate}_Preview","Template")" class="btn btn-primary "><i class=""></i>Предпросмотр</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div><!--features_items-->
                </div>
            </div>
        </div>

    </section>
    <script src="~/js/main/jquery.js"></script>
    <script src="~/js/main/jquery.scrollUp.min.js"></script>
    <script src="~/js/main/bootstrap.min.js"></script>
    <script src="~/js/main/jquery.prettyPhoto.js"></script>
    <script src="~/js/main/main.js"></script>
    <script src="~/js/main/Themes.js"></script>
</body>
</html>